<h1>
  Welcome to Chitter!
</h1>

<form action='/user' method='post' value='email'>
  <h2>
    Sign Up!
  </h2>
  Email: <input name="email" type="text">
  Password: <input name="password" type="password">
  Password Confirmation: <input name="password_confirmation" type="password">
</form>