<h1>
  Welcome to Chitter!
</h1>

<h2>
  Sign Up!
</h2>

<form action='/user' method='post' value='email'>
  Email: <input name="email" type="text">
  Password: <input name="password" type="password">
  Password Confirmation: <input name="password_confirmation" type="password">
  <input type="submit" value="Sign up">
</form>
